body {
    background-color: #DADEF2;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.formulario {
    background: #BEBADB;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.568);
    color: white;
}

.form-control {
    background: #DADEF2;
    border-style: none;
    outline: none;
    box-shadow: none;
    margin: 20px 0px 20px 0px;
}

.form-control:focus {
    background: none;
    box-shadow: none;
    outline: none;
}

.form-control::placeholder {
    color: white;
}

.ingresar {
    background: #DADEF2;
    padding: 10px;
    font-size: 16px;
    font-weight: 700!important;
    color: white;
    border-radius: 10px;
    
}

.ingresar:hover {
    color: white;
}
